{% extends 'base.html' %}


{% block meta %}
<title>Todolist: {{username}}</title>
<meta name="viewport", content="width=device-width, initial-scale=1.0">

<style>
    h1 {
    text-align: center;
    color: #ff0080;
    }
    p {
    text-align: left;
    }
</style>

{% endblock meta %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
        $(document).ready(function() {
            $.get("/todolist/json/", function(todolist) {
                console.log(todolist);
                for (i = 0; i < todolist.length; i++){
                    $(".task_list").append(` <div class="grid-container">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">${todolist[i].fields.title}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">${todolist[i].fields.date}</h6>
                          <p class="card-text">${todolist[i].fields.description}</p>
                        </div>
                      </div>
                    </div>`)
                }
            });
            $("#submit").click(function(){
              $.post("/todolist/add/", {
                title : $('#title').val(),
                description: $('#description').val()},
                function (result) {
                  $(".task_list").append(` <div class="grid-container"> <div class="card" style="max-width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">${result.fields.title}</h5>
                        <p class="card-text">${result.fields.date}</p>
                        <p class="card-text">${result.fields.description}</p>
                      </div>`)
                  $('#title').val(''),
                  $('#description').val('')
                  
                }
                )
              })
        }); 

    function deleteCard(id) {
        $.ajax({
            url: `/todolist/delete/${id}`,
            type: 'DELETE',
            success: function (result) {
                $(`#task-${id}`).remove()
            }
        });
    }


</script>


<nav class="navbar navbar-expand-lg bg-light" style="background-color:#ff0080;">
    <div class="container-fluid" style="background-color:#ff0080 ">
      <a class="navbar-brand" href="#" style="color:#ffffff;"> Todolist</a>
      <button type="button" class="btn btn-light"><a href="{% url 'todolist:logout' %}" class="link-light" style="background-color: #ff0080">Logout</a></button> 
    </div>
    </div>
  </nav> 
  <h1><span style="text-transform:uppercase"><strong>{{username}}'s</strong> TODOLIST</span></h1>

  <div id="taskCard" class="flex justify-center"></div>

  <div class="modal" id="modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color:#ff0080 ">
          <div class="">
            <form method="POST" id="post-form">
              {% csrf_token %}
              <table>
                <tr>
                  <td>Todo:</td>
                  <td><input type="text" name="todo" placeholder="new todo" class="form-control" id="taskname"</td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td><input type="text" name="description" placeholder="Description" class="form-control" id="taskdesc"</td>
                </tr>
              </table>
              <input type="submit" name="submit" value="Create">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <h5>Username: </h5>
  <p>{{user.username}}</p>


  <h5>Sesi Terakhir Login</h5>
  <p>{{last_login}}</p>
  
  <!-- {% for task in tasks %} -->
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
      <p class="card-text">{{task.description}}</p>
      <button class="btn btn-danger"><a href="{% url 'todolist:delete' task.id %}" class="link-light">Delete</a></button>
    </div>
  </div> -->
  <!-- {% endfor %} -->
  <!-- </div> -->

<div class="task_list"></div> 

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreate">Tambah Task</button>

<p></p>

<button type="button" class="btn btn-primary"><a href="{% url 'todolist:logout' %}" class="link-light">Logout</a></button> 

{% endblock content %}