{% extends 'base.html' %}

{% block content %}

  <h1>🥶 Assignment-4 PBP/PBD 🥶</h1>

  <h5>Name: </h5>
  <b>{{user.username}}</b>


  <h5>Sesi terakhir login</h5>
  <p>{{last_login}}</p>
  
  <table>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in tasks %}
    <tr>
        <td>{{task.date}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
    </tr>
    {% endfor %}
</table>

<p></p>
<button><a href="{% url 'todolist:create_task' %}">Tambah Task</a></button>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button> 

{% endblock content %}